<footer class="footer">
    <div class="container">
        <p>&copy; 2024 kasiwebsites. All rights reserved.</p>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/kasiwebsites" class="social-icon">FB</a></li>
            <li><a href="https://www.github.com/codewithcosmos" class="social-icon">Git</a></li>
            <li><a href="https://www.linkedin.com/in/coslifem" class="social-icon">IN</a></li>
        </ul>
    </div>
</footer>
