<aside class="sidebar">
    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/manage-quotes">Manage Quotes</a></li>
        <li><a href="/admin/manage-invoices">Manage Invoices</a></li>
    </ul>
</aside>
