<% include layout %>
<section>
  <h1>Our Services</h1>
  <ul>
    <li>Web Development</li>
    <li>Design</li>
    <li>Graphic Design</li>
    <li>SEO</li>
    <li>Maintenance</li>
    <li>Hosting Packages</li>
  </ul>
</section>
<script src="/js/scripts.js"></script>
